/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3.5px, 3.5px);
  transform: rotate(-45deg) translate(-3.5px, 3.5px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-3.5px, -3.5px);
    transform: rotate(45deg) translate(-3.5px, -3.5px);
}