.fa  {
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    padding: 9px;
    margin: 3px;
}

.fa-facebook    {
    background-color: black;
    color: white;
    width: 12px;
}

.fa-facebook:hover    {
    background-color: #3B5998;
    color: white;
}

.fa-twitter {
    background-color: black;
    color: white;
 }  

.fa-twitter:hover {
    background-color: #55ACEE;
    color: white;
}

.fa-linkedin {
    background-color: black;
    color: white;
}

.fa-linkedin:hover {
    background-color: #007bb5;
    color: white;
}

.fa-instagram {
    background-color: black;
    color: white;
}

.fa-instagram:hover {
    background-color: #dd1ed4;
    color: white;
}

.fa-snapchat-ghost {
    background-color: black;
    color: white;
}

.fa-snapchat-ghost:hover {
    background-color: #fffc00;
    color: white;
    text-shadow: -0.7px 0 black, 
                  0 0.7px black, 
                  0.7px 0 black, 
                  0 -0.7px black
}

.fa-whatsapp {
    background-color: black;
    color: white;
}

.fa-whatsapp:hover {
    background-color: #12d600;
    color: white;
}

.fa-github  {
    color: white;
    background-color: black;
}

.fa-github:hover  {
    color: black;
    background-color: white;
}

.fa-envelope-open {
    color: white;
    background-color: black;
}

.fa-envelope-open:hover  {
    color: white;
    background-color: red;
}

a.weblink:link, a.weblink:visited  {
    color: white;
    text-decoration: none;
}

a.weblink:hover    {
    color: #989898;
}

a.weblink:active   {
    color: white;
    text-decoration: none;
}