#navbar {
    text-decoration: none;
    position: fixed;
    margin: 0%;
    padding: 0%;
    background-color: black;
    width: 100%;
    z-index: 1;
    transition: top 0.3s;
    color: white;
    max-height: 50px;
    top: 0%;
}

ul.navigation  {
    list-style-type: none;
    font-size: 14px;
    margin: 0%;
    padding: 1px;
    z-index: 1;
}

#navbar:hover {
    box-shadow: 0px 4px 5px 0px black;
}

li.navigation    {
    float: right;
    color: white;
    padding: 14px 16px 13px;
    box-sizing: border-box;
}

#hidenav::first-letter {
    font-size: 15px;
}

li.navigation a {
    color: white;
    display: block;
}

li.navigation a:link {
    text-align: center;
    text-decoration: none;
}

li.navigation a:hover {
    color: #989898
}

@media screen and (max-width: 810px)    {
    #hidenav    {display: none;}
}